git rm --cached */Intermediate/*
git rm --cached */Saved/*
*/intermediate/*
*/saved/*
Alfraid/Saved/AutoScreenshot.png
Alfraid/Intermediate/CachedAssetRegistry.bin
Alfraid/Saved/Autosaves/Game/ThirdPersonBP/Maps/ThirdPersonExampleMap_Auto2.umap
Alfraid/Saved/Config/Windows/EditorPerProjectUserSettings.ini
